* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: darkslategray;
  text-align: center;
}
.MiniCalendarContainer{
  background-color: rgba(255, 255, 255, .2);
  border-radius: 10px;
}
h1 {
  background-color: orangered;
  color: white;
  padding: 10px 20px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  font-family: monospace;
}
.MiniCalendarContainer :nth-child(3){
  font-size: 40px;
  font-weight: bold;
}
p{
  color: aliceblue;
  margin: 15px;
  font-size: 20px;
}