* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aliceblue;
  text-align: center;
  color: rgb(5, 122, 122);
}
.timer{
  font-size: 6rem;
  width: 400px;
  text-align: center;
  font-weight: bold;
}
button {
  all: unset;
  font-weight: bold;
  background-color: aliceblue;
  box-shadow: -1px -1px 2px grey;
  border-radius: 6px;
  font-size: 2rem;
  padding: 5px 15px;
  cursor: pointer;
  margin: 15px;
}
.btn:hover {
  background-color: rgb(196, 218, 238);
}
button[disabled]{
  opacity: .5;
}