* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
}
.navBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkgreen;
}
ul {
  display: flex;
  justify-content: center;
  width: 300px;
}
ul li {
  list-style-type: none;
  width: 100%;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
