* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: darkslategray
}
.testmonialContainer {
  background-color: rgba(255, 255, 255, .2);

  color: lightgrey;
  width: 400px;
  height: 200px;
  border-radius: 5px;
  position: relative;
  padding: 60px 10px 0px 10px;
}
img {
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}
.name{
    padding-top: 10px;
}