*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hrBack{
    background-color: lightslategrey;
    width: 100%;
    height: 2px;
    position: absolute;
    z-index: -1;
    top: 20px;
    border: none;
}
.hrFront{
    background-color: green;
    width: 25%;
    height: 2px;
    position: absolute;
    z-index: -1;
    top: 20px;
    border: none;
}
.progressainContainer{
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    gap: 70px;
}
.step{
    background-color: aliceblue;
    border: solid 3px lightslategrey;
    padding: 7px 10px;
    border-radius: 100%;
    position: relative;
}

.icon-checkmark{
    color: green;
    font-size: smaller;
}
.icon-cross{
    font-size:small;
    color: lightslategrey;
}

.btns{
    margin-top: 20px;
    display: flex;
    gap: 40px;
}
button{
    all: unset;
    background-color: aliceblue;
    box-shadow: 2px 2px 3px grey;
    border-radius: 5px;
    padding: 5px 8px;
    cursor: pointer;
}

/* ================== */
.active{
    background-color: aliceblue;
    border: solid 3px green;
    color: green;
    border-radius: 100%;
    padding: 7px 10px;
    
}
